
<% @tasks.each do |task| %>
  <%= link_to task_path(task.id) do  %>
    <h2><%= task.title %></h2>
    <% if task.completed == true %>
     <p>cette taches a été réalisé</p>
    <% else %>
    <p>cette tache doit être faites</p>
    <% end %>


  <% end %>
<% end %>


<form action="tasks/new" method="GET">
  <input type="submit">
</form>
